#WiNA
Host wina
	HostName wina.ugent.be
	Port 2222

Host wina2
	HostName wina2.ugent.be
	Port 2222

#FK
Host foxtrot
        HostName foxtrot.ugent.be
        Port 2222

Host kilo
	HostName kilo.ugent.be
	Port 2222

Host fk
	HostName fkgent.be
	Port 2222

Host fkenrolment
	Hostname registratie.fkgent.be
	Port 2222
	User fk-enrolment

Host gandalf
	Hostname event.fkgent.be
	Port 2222
	User gandalf

#Geografen
Host we12s006
	HostName we12s006.ugent.be
	Port 1048

Host cartogis
	Hostname cartogis.ugent.be
	Port 1048

Host geowiki
	Hostname geowiki.ugent.be
	Port 1048

Host we12s007
	Hostname we12s007.ugent.be
	User bdewit
	Port 1048

Host crest
	Hostname crest.ugent.be
	Port 1048
#Mezelf
Host skaro # best entry ever!
	Hostname skaro
